parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$author\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Blog/app/Http/Controllers/PostAdminController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$category\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Blog/app/Http/Controllers/PostAdminController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: Modules/Blog/app/Http/Controllers/PostAdminController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$is_active\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Blog/app/Http/Controllers/PostAdminController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$published_at\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Blog/app/Http/Controllers/PostAdminController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Blog/app/Http/Controllers/PostAdminController.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: Modules/Compounds/app/Http/Controllers/CompoundAdminController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Schema\\ForeignIdColumnDefinition\:\:nullOnDelete\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: Modules/Compounds/database/migrations/2026_02_01_000003_create_compounds_table.php

		-
			message: '#^Using nullsafe property access "\?\-\>label" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: Modules/Core/app/Http/Controllers/MenuAdminController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: Modules/Core/app/Http/Controllers/UserAdminController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:syncRoles\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Core/app/Http/Controllers/UserAdminController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: Modules/Core/database/seeders/AdminUserSeeder.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Console\\Command\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 4
			path: Modules/Core/database/seeders/AdminUserSeeder.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Console\\Command\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 3
			path: Modules/Core/database/seeders/DemoAccountsSeeder.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Console\\Command\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: Modules/Core/database/seeders/MenuSeeder.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Console\\Command\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: Modules/Core/database/seeders/RolePermissionSeeder.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: Modules/Leads/app/Http/Controllers/LeadAdminController.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: Modules/Properties/app/Http/Controllers/PropertyAdminController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Schema\\ForeignIdColumnDefinition\:\:nullOnDelete\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: Modules/Properties/database/migrations/2026_02_01_000004_create_properties_table.php

		-
			message: '#^Call to function abort_unless\(\) with bool and 404 will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Http/Middleware/SetLocale.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Support/ResourceController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Console\\Command\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: database/seeders/BlogSeeder.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Console\\Command\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: database/seeders/CatalogSeeder.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Console\\Command\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: database/seeders/LeadSeeder.php
